[Unit]
Description=Pi Camera API Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/face-frame-capture
ExecStart=/usr/bin/python3 app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

# journal にも標準エラーを送る
StandardError=journal

# ファイルログはアプリ内で /var/log/frame_capture.log へ出力
[Install]
WantedBy=multi-user.target