[Unit]
Description=Pi Camera API Service
After=network.target

[Service]
Type=simple
User=srv-admin
WorkingDirectory=/home/srv-admin/workspace/raspi-frame-capture
ExecStart=/usr/bin/python3 app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

# journal にも標準エラーを送る
StandardError=journal

[Install]
WantedBy=multi-user.target